openapi: 3.0.0
info:
  title: Bookshelf API
  version: 1.0.0

servers:
  - url: http://localhost:3000
    description: Local Development

paths:
  /books:
    get:
      summary: Ambil semua buku
      responses:
        '200':
          description: OK

    post:
      summary: Tambah buku
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - year
              properties:
                title:
                  type: string
                author:
                  type: string
                year:
                  type: integer
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request

  /books/{bookId}:
    parameters:
      - name: bookId
        in: path
        required: true
        schema:
          type: integer

    put:
      summary: Perbarui data buku
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                author:
                  type: string
                year:
                  type: integer
      responses:
        '200':
          description: Berhasil memperbarui buku
        '404':
          description: Buku tidak ditemukan

    delete:
      summary: Hapus buku
      responses:
        '200':
          description: Buku berhasil dihapus
        '404':
          description: Buku tidak ditemukan

  /books/search:
    get:
      summary: Cari buku berdasarkan judul
      parameters:
        - name: title
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
